
thesis-proposal/proposal.aux
thesis-proposal/proposal.bbl
thesis-proposal/proposal.blg
thesis-proposal/proposal.fdb_latexmk
thesis-proposal/proposal.fls
thesis-proposal/proposal.log
thesis-proposal/proposal.synctex.gz
notes.md
thesis/thesis.synctex.gz
thesis/thesis.bbl
thesis/thesis.blg
thesis/thesis.fdb_latexmk
thesis/thesis.fls
thesis/thesis.out